table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

.vermelho {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarelo {
  background-color: yellow;
}
